{
    "venvPath": ".",
    "venv": ".venv",
    "include": [
        "apps/api",
        "packages/python/common"
    ],
    "executionEnvironments": [
        {
            "root": "apps/api"
        }
    ]
}
